---
import {getPosts} from "../../../sanity/api";
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import {Markdown} from '@astropub/md'
import FormattedDate from "../../components/FormattedDate.astro";
import Title from "../../components/Title.astro";
const {slug} = Astro.params;

const posts = await getPosts();
const page = posts.find((post) => post.slug === slug);
if (!page) return Astro.redirect("/404");

const {description, title, publishedAt, blockContent2, image, categories} = page;
---
<html lang="en">
<head>
    <BaseHead title={title} description={description}/>

</head>

<body>
<Header/>
<main class="main">
    <article class="post__content">
        <div class="container">
            <div class="hero-image">
                {image && <img src={image} alt=""/>}
            </div>
            {categories && categories.length > 0 ? (
                    <ul class="categories__list">
                        {
                            categories.map((category, index) => (
                                    <li class=`categories__item ${category.slug.current}`>
                                        <!--<a href='/blog'>-->
                                        {category.title}
                                        <!--                                        </a>-->
                                    </li>
                            ))}
                    </ul>
            ) : ('')}
            <div class="content">
                <div class="title">
                    <div class="date">
                        <FormattedDate date={publishedAt}/>
                        <div>


                        </div>
                    </div>
                    <Title title={title}/>
                </div>
                <Markdown of={blockContent2}/>
            </div>
        </div>
    </article>
</main>
<Footer/>
</body>
</html>

<!-- -&#45;&#45;-->
<!--// import { type CollectionEntry, getCollection } from 'astro:content';-->
<!--import BlogPost from '../../layouts/BlogPost.astro';-->


<!--export async function getStaticPaths() {-->
<!--	const posts = await getCollection('blog');-->
<!--	return posts.map((post) => ({-->
<!--		params: { slug: post.slug },-->
<!--		props: post,-->
<!--	}));-->
<!--}-->
<!--type Props = CollectionEntry<'blog'>;-->


<!-- -&#45;&#45;-->


