---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main class="main">
    <section class="blog">

        <div class="container">
            <h1>Blog</h1>
            <ul class="blog__items">
                {
                    posts.map((post) => (
                            <li class="blog__item">
                                <a href={`/blog/${post.slug}/`} class="blog__item-link">
                                    <img width={720} height={360} src={post.data.heroImage} alt=""
                                         class="blog__item-img"/>
                                    <div class="blog__item-content">
                                        <p class="blog__item-date date">
                                            <FormattedDate date={post.data.pubDate}/>
                                        </p>
                                        <h4 class="blog__item-title title-4">{post.data.title}</h4>

                                    </div>
                                </a>
                            </li>
                    ))
                }
            </ul>
        </div>

    </section>
</main>
<Footer/>
</body>
</html>
