---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { getPosts } from "../../../sanity/api";
import Title from "../../components/Title.astro";
import Image from "../../components/Image.astro";

const posts = await getPosts();
---



<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main class="main">
    <section class="blog">

        <div class="container">
            <Title title="Blog"/>

            <ul class="blog__items">
                {
                    posts.map((post) => (
                            <li class="blog__item">
                                <a href={`/blog/${post.slug}/`} class="blog__item-link">
                                    <Image imageClass="blog__item-img" src={post.image} alt={post.title} />
                                    <div class="blog__item-content">
                                        <p class="blog__item-date date">
                                            {post.publishedAt}
                                        </p>
                                        <h4 class="blog__item-title title-4">{post.title}</h4>

                                    </div>
                                </a>
                            </li>
                    ))
                }

            </ul>
        </div>

    </section>
</main>
<Footer/>
</body>
</html>