---
import {getProjects} from "../../../sanity/api";
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Image from "../../components/Image.astro";

const posts = await getProjects();


---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main class="main">
    <section class="project">

        <div class="container">
            <h1>Projects</h1>
            <ul class="project__list">
                {
                    posts.map((post) => (
                            <li class="project__item">
                                <a href={`/projects/${post.slug}/`} class="project__item-link">
                                    <Image imageClass="project__item-img" src={post.image} alt={post.title} />
                                    <div class="project__item-content">

                                        <h4 class="project__item-title title-4">{post.title}</h4>
                                        <p class="project__item-desc description">
                                            {post.description}
                                        </p>
                                        <ul class="tags">
                                        {
                                            post.tags.map((tag) => (
                                                    <li class:list=`tag ${tag}`>{tag}</li>
                                            ))
                                        }
                                        </ul>

                                    </div>
                                </a>
                            </li>
                    ))
                }
            </ul>
        </div>

    </section>
</main>
<Footer/>
</body>
</html>
